{
  "__merge": [],
  "species" : [ "dummy" ],
  "defaultBlueprints" : { 
    "tier1" : [ 
      { "item" : "activator" },
      { "item" : "airfan" },
      { "item" : "analogclock" },
      { "item" : "bannerstarfoundrylarge" },
      { "item" : "basicgenerator" },
      { "item" : "battery" },
      { "item" : "batterycharger" },
      { "item" : "binarizer" },
      { "item" : "circuitboard" },
      { "item" : "chestinterface" },
      { "item" : "cleanpipeNE" },
      { "item" : "cleanpipeNW" },
      { "item" : "cleanpipeSW" },
      { "item" : "cleanpipeSE" },
      { "item" : "cleanpipemiddle" },
      { "item" : "cleanpipehorizontal" },
      { "item" : "cleanpipevertical" },
      { "item" : "comparator" },
      { "item" : "conveyorbelt" },
      { "item" : "counter" },
      { "item" : "detector" },
      { "item" : "dronestation" },
      { "item" : "ejector" },
      { "item" : "energycrystal" },
      { "item" : "entityscanner" },
      { "item" : "foundry" },
      { "item" : "freeformmarker" },
      { "item" : "gravityelevator" },
      { "item" : "hopper" },
      { "item" : "itembox" },
      { "item" : "itemexcluder" },
      { "item" : "itemfilter" },
      { "item" : "itemsorter" },
      { "item" : "jumppad" },
      { "item" : "laserdiode" },
      { "item" : "layerswap" },
      { "item" : "levitationpad" },
      { "item" : "lightsensor" },
      { "item" : "linkdisplay" },
      { "item" : "linkdisplaysmall" },
      { "item" : "liquidextractor" },
      { "item" : "liquidfiller" },
      { "item" : "liquidpump" },
      { "item" : "liquidsensor" },
      { "item" : "liquidtank" },
      { "item" : "magnetcore" },
      { "item" : "mannequin" },
      { "item" : "memory" },
      { "item" : "operator" },
      { "item" : "oremagnet" },
      { "item" : "pipeend" },
      { "item" : "pipeitemdetector" },
      { "item" : "pipeliquiddetector" },
      { "item" : "powersmelter" },
      { "item" : "ptmagnetblockadvanced" },
      { "item" : "ptmagnetblocknegstrong" },
      { "item" : "ptmagnetblocknegweak" },
      { "item" : "ptmagnetblockposstrong" },
      { "item" : "ptmagnetblockposweak" },
      { "item" : "ptmagnetizer" },
      { "item" : "ptmagnetizeTech-chip" },
      { "item" : "quarry" },
      { "item" : "quarrymarker" },
      { "item" : "quickwallbutton" },
      { "item" : "randomizer" },
      { "item" : "rectmarker" },
      { "item" : "relay" },
      { "item" : "relaycloak" },
      { "item" : "sewerpipeNE" },
      { "item" : "sewerpipeNW" },
      { "item" : "sewerpipeSW" },
      { "item" : "sewerpipeSE" },
      { "item" : "sewerpipemiddle" },
      { "item" : "sewerpipehorizontal" },
      { "item" : "sewerpipevertical" },
      { "item" : "solarpanel" },
      { "item" : "tempsensor" },
      { "item" : "thermogenerator" },
      { "item" : "tinywallbutton" },
      { "item" : "tinywallswitch" },
      { "item" : "valve" },
      { "item" : "filter" },
      { "item" : "windsensor" },
      { "item" : "wirelampblue" },
      { "item" : "wirelampcyan" },
      { "item" : "wirelampgreen" },
      { "item" : "wirelampmagenta" },
      { "item" : "wirelampred" },
      { "item" : "wirelampwhite" },
      { "item" : "wirelampyellow" },
      { "item" : "wiretap" }
    ]
  }
}
