{
  "__merge": [], 
  "defaultBlueprints" : { 
    "tier1" : [ 
      { "item" : "airfan" },
      { "item" : "airfan" },
      { "item" : "alarm" },
      { "item" : "and" },
      { "item" : "binarizer" },
      { "item" : "bulb" },
      { "item" : "comparator" },
      { "item" : "conveyorbelt" },
      { "item" : "conveyorbelt" },
      { "item" : "counter" },
      { "item" : "dlatch" },
      { "item" : "drain" },
      { "item" : "entityscanner" },
      { "item" : "freeformmarker" },
      { "item" : "jumppad" },
      { "item" : "jumppad" },
      { "item" : "layerswap" },
      { "item" : "levitationpad" },
      { "item" : "levitationpad" },
      { "item" : "lightsensor" },
      { "item" : "linkdisplay" },
      { "item" : "linkdisplaysmall" },
      { "item" : "liquidsensor" },
      { "item" : "memory" },
      { "item" : "not" },
      { "item" : "operator" },
      { "item" : "or" },
      { "item" : "pipeend" },
      { "item" : "pressureplate" },
      { "item" : "pump" },
      { "item" : "quickwallbutton" },
      { "item" : "smallwallbutton" },
      { "item" : "smallwallswitch" },
      { "item" : "tempsensor" },
      { "item" : "testspawner" },
      { "item" : "timer" },
      { "item" : "windsensor" },
      { "item" : "wiretool" },
      { "item" : "wiringstation" },
      { "item" : "xor" }
    ]
  }
}
