{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      "fileBody" : "/interface/chests/slots1to16.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [39, 79],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [82, 88],
      "dimensions" : [4, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "Drag & Drop",
      "hAnchor" : "mid",
      "position" : [40, 37]
    },
    "count" : {
      "type" : "label",
      "value" : "BLOCK THESE ITEMS",
      "hAnchor" : "mid",
      "position" : [80, 109]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine1to16.png",
      "position" : [0, 0]
    }
  }
}
