{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/slots1header.png",
      "fileBody" : "/interface/chests/slots1.png",
      "fileFooter" : "/interface/chests/slots1footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [25, 26],
      "dimensions" : [1, 1],
      "spacing" : [18, 18],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "subtitle" : {
      "type" : "label",
      "value" : "",
      "hAnchor" : "mid",
      "position" : [0,0]
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "Send Item",
      "hAnchor" : "mid",
      "position" : [33, 46]
    },
    "count" : {
      "type" : "label",
      "value" : "ALLOW ONLY THESE ITEMS",
      "hAnchor" : "mid",
      "position" : [80, 109]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine1to16.png",
      "position" : [0, 0]
    }
  }
}
