{
  "__merge": [],
  "nocollision" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "maxMovementPerStep" : 0.4,
    "groundSlideMovementEnabled" : false,
    "collisionPoly" : [],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0,
    "liquidFriction" : 0,
    "speedLimit" : null
  }
}