//TODO: figure out how to merge this properly
//{
//  "__merge" : [],
//  "damageFactors" : [ { "crushing" : 1.0 } ]
//}

{
  "damageFactors" : {
    "plantish" : 0.08,
    "blockish" : 1.0,
    "beamish" : 0.7,
    "explosive" : 0.2,
    "fire" : 1.0,
    "tilling" : 0.1,
    "crushing" : 1.0
  },

  "damageRecovery" : 0.2
}