{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/advobjectcrafting/furnace_header.png",
      "fileBody" : "/interface/advobjectcrafting/furnace_body.png",
      "fileFooter" : "/interface/advobjectcrafting/furnace_footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [43, 37],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 1,
      "position" : [79, 37],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [65, 40],
      "file" : "/interface/objectcrafting/arrow.png"
    }
  }
}
